# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  std-java-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - uses: actions/cache@v1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Setup gcloud
      uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        version: latest
        project_id: spring-cloud-gcp-ci
        service_account_key: ${{ secrets.GCP_SERVICE_ACCOUNT }}
        export_default_credentials: true

    - name: Build with Maven
      run: |
        mvn clean install -B -q
        mvn package -B --file google-cloud-graalvm-samples/

    - name: Run Samples
      run: |
        cd google-cloud-graalvm-samples
        java -jar graalvm-samples-client-library/pubsub-sample/target/pubsub-sample-0.3.0-SNAPSHOT.jar
        java -jar graalvm-samples-client-library/trace-sample/target/trace-sample-0.3.0-SNAPSHOT.jar

  graal-java-build:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
    - uses: actions/checkout@v2

    - name: Set up GraalVM Compiler
      uses: rinx/setup-graalvm-ce@v0.0.5
      with:
        graalvm-version: "20.3.0"
        java-version: "java11"
        native-image: "true"

    - uses: actions/cache@v1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Setup gcloud
      uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        version: latest
        project_id: spring-cloud-gcp-ci
        service_account_key: ${{ secrets.GCP_SERVICE_ACCOUNT }}
        export_default_credentials: true

    - name: Native Image Compile
      run: |
        mvn clean install -B -q
        mvn package -P graal -B --file google-cloud-graalvm-samples/

    - name: Run Samples
      run: |
        cd google-cloud-graalvm-samples
        ./graalvm-samples-client-library/pubsub-sample/target/com.example.pubsubsampleapplication
        ./graalvm-samples-client-library/trace-sample/target/com.example.tracesampleapplication
